@model EventManagementSystem.Models.EventViewModel

@{
    ViewBag.Title = "EventViewModel";
}


<div class="event-box">
    <h3>@Model.Title</h3>
    <span class="date"><strong>Seminar Date:</strong> @Model.StartDateTime</span>

    @if (Model.Duration != null)
    {
        <span class="duration">
            (@Model.Duration.Value.ToString(@"hh\:mm") hours)
        </span>
    }
    @if (Model.Author != null)
    {
        <p><strong>Posted By: </strong><span class="author">@Model.Author</span></p>
    }
    @if (Model.Location != null)
    {
        <span class="location"><strong>Location: </strong>@Model.Location</span>
    }
    <div class="row">
        <div class="col-md-4">
            <div id="event-details-@Model.Id">
                @Ajax.ActionLink("View Details", "EventDetailsById", "Home",
               new
                    {
                   id = Model.Id
                    }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "event-details-" + Model.Id }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>
