
@model EventManagementSystem.ViewModels.EventDetailsViewModel

@if (Model.Description != null)
{
    <p>Description: @Model.Description</p>
}
@if (Model.Comments.Any())
{
    @:Comments:
    <ul>
        @foreach (var comment in Model.Comments)
        {
            <li>@comment.Text</li>
            if (comment.Author != null)
            {
                @:(by @comment.Author)
            }
        }
    </ul>
}
else
{
    <p>No Comments here</p>
}

<div class="form-group">
    <div id="event-details">
        @Ajax.ActionLink("Add Comment", "GetCommentSection", "Home", 
       new { id = Model.Id }, new AjaxOptions() { UpdateTargetId = "event-details" })
    </div>
    @Html.HiddenFor(model=>Model.Id)
</div>
<div class="form-group">
    @if (ViewBag.CanEdit)
    {
        @Html.ActionLink("Edit", "Edit", "Events", new { id = Model.Id }, new { @class = "btn btn-default" })
        <span></span>
        @Html.ActionLink("Delete", "Delete", "Events", new { id = Model.Id }, new { @class = "btn btn-default" })
        <span></span>
    }
</div>

