@model EventManagementSystem.Models.EventInputModel

@{
    ViewBag.Title = "Delete";
}


<h3>Are you sure you want to delete this?</h3>
<div class="card">
    <div class="event-box">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDateTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Duration)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Duration)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                <a href="@Url.Action("MyEvents", "Events")" class="btn btn-default">Back to List</a>
            </div>
        }
    </div>
</div>
